<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <title><%= title %></title> -->
    <%- include('./common/javascript')%>
    <%- include('./common/stylesheets')%>
  </head>
  <body >
    <div class="container col-lg-4 col-lg-offset-4">

      <h3 align="center"><%= title %></h3>
      <form>
        <div class="container container col-lg-12 ">
          <label><b>Username:</b></label>
          <input type="text" id="uemail" class="form-control" placeholder="Enter Useremail" name="uname" required>
          <label><b>Password:</b></label>
          <input type="password" id="upass" class="form-control" placeholder="Enter Password" name="psw" required>
          <hr>
          <button type="button" class="btn btn-primary" id="sub" >Login</button>
      </form>

    </div>

    <script>
  $(document).ready(function() {

    $("#sub").click(function(){

    var data = {
      email: $('#uemail').val(),
    password: $('#upass').val()

             }
            //  console.log(data);
    $.ajax({

        type:"POST",
        url:"/login_users",
        data:data,    // multiple data sent using ajax,send all form contant by a single object
        success: function (result) {
            //  alert(result);                     // pnotify
              new PNotify({
                title: 'Regular Notice',
                text: result,
                icon: 'fa fa-envelope-o',
                type:'error'
              });
            window.location.href = "/session/";
            new PNotify({
              title: 'Congratulation',
              text: 'Loged in',
              type: 'success'
            });

        }
      });

    });
  });
</script>
  </body>
</html>
